html {
       overflow-y: scroll;
}

body {
  font-family: Raleway, sans-serif;
  background-color: rgba(21, 111, 126, 0.85);
  font-size: 14px;
  z-index: 0;
}

h1 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

h2 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

h3 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

h4 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

h5 {
  font-family: Raleway, sans-serif;
  font-weight: 200;
}

.button {
  position: static;
  left: 0px;
  right: 0px;
  bottom: 0px;
  display: block;
  width: 250px;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  padding: 18px 0px;
  border: 1px solid #fff;
  border-radius: 6px;
  background-color: rgba(12, 83, 95, .85);
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  font-family: Raleway, sans-serif;
  color: #eee9d9;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
}

.button:hover {
  border-color: #fff;
  background-color: #06434e;
}

.button.w--current {
  background-color: #072b31;
  color: #fff;
}

.button.contact {
  border-color: #eee9d9;
  background-color: rgba(7, 43, 49, .8);
}

.button.contact:hover {
  border-color: #fff;
  background-color: #072b31;
}

.button.download-button {
  background-color: rgba(6, 67, 78, .21);
}

.button.download-button:hover {
  background-color: #06434e;
}

/* ----- Nav Styling----- */
.navbar {
  background-color: #dd6445;
  opacity: 0.95;
  text-shadow: 1px 1px 0 rgba(124, 91, 91, .9);
}

.navbar-brand {
  display: inline-block;
  width: 100px;
  height: 50px;
  margin-top: 5px;
  padding: 0px;
}

.brand-image {
	width: 42px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.nav-button.nav-button>a {
  margin: 18px 0px;
  padding: 0px 10px;
  height: 20px;
  border-right-style: solid;
  border-right-width: 1px;
  font-family: Raleway, sans-serif;
  color: #fff;
  font-size: 1em;
  font-weight: 400;
  text-transform: uppercase;
}

.nav-button.last.nav-button.last>a {
  padding-right: 0px;
  border-right-style: none;
  border-right-width: 0px;
}

/* ----- Content Styling----- */
.background {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: -99;
  width: 100%;
  height: 100%;
  background-image: url('../img/humanity.jpg');
  background-position: 50% 50%;
  background-size: cover;
}

.sp-content{
  height: 100vh;
  width: 100vw;
  padding: 60px 0px;
  overflow: auto;
  background-color: rgba(21, 111, 126, 0.85);
}

/* ----- Home Page ----- */
.hero-image {
  width: 80vw;
  max-width: 700px;
}

/* ----- Campaigns ----- */
.campaigns {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 20px;
}

.campaign-text{
  color: black;
}

.campaign-image {
  position: relative;
  width: 90%;
  height: 400px;
  border-radius: 5px;
  border-style: ridge;
  border-color: white;
  border-width: 2px;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
  -webkit-transform: scale(1.03);
  -ms-transform: scale(1.03);
  transform: scale(1.03);
  overflow:hidden;
}

.campaign-image>img {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.panel-campaign {
  overflow:hidden;
  text-align: center;
  -webkit-transition: all 310ms ease-in-out;
  transition: all 310ms ease-in-out;
}

.panel-campaign:hover {
  background-color: rgba(255, 255, 255, 0.4)
}

.campaign-image-list {
  width: 200px;
  height: 200px;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow:hidden;
  text-align: center;
  vertical-align: center;
}
